a {
  margin-right: 6px;
  font-size: large;
  text-decoration: none;
}

.link-light {
  color: #0000ee;
}

.link-dark {
  color: whitesmoke;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 2px;
  margin-right: 6px;
}

img {
  height: 64px;
  width: 64px;
  border-radius: 20%;
}

.banner {
  display: flex;
  flex-direction: row;
  min-width: 0;
  max-width: 100vw;
  min-height: 65px;
  justify-content: space-between;
  align-items: center;
  padding: 6px 14px 6px 14px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.light {
  color: grey;
  background: whitesmoke;
}

.dark {
  background: rgb(31, 31, 31);
  color: rgb(191, 191, 191);
}

.title {
  font-size: large;
  margin-top: 0;
  margin-bottom: 3px;
}

.title-color-light {
  color: black;
}

.title-color-dark {
  color: whitesmoke;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
}

.space-right {
  margin-right: 10px;
}

.space-left {
  margin-left: 10px;
}

.small-font {
  font-size: small;
}

.medium-font {
  font-size: medium;
}
